In [1]:
import pandas as pd

In [27]:
import pandas as pd

s1 = pd.Series([1, 2, 3, 4])
s2 = pd.Series([2, 4, 6, 8])

print("Add:", s1 + s2, sep="\n")
print("\n Subtract:\n", s1 - s2,sep="\n")
print("Multiply:\n", s1 * s2,sep="\n")
print("Division:\n", s1 / s2,sep="\n")

Add:
0     3
1     6
2     9
3    12
dtype: int64

 Subtract:

0   -1
1   -2
2   -3
3   -4
dtype: int64
Multiply:

0     2
1     8
2    18
3    32
dtype: int64
Division:

0    0.5
1    0.5
2    0.5
3    0.5
dtype: float64

In [28]:
import pandas as pd

data = {'a': 150, 'b': 300, 'c': 300}
s = pd.Series(data)

print(s)

a    150
b    300
c    300
dtype: int64

In [33]:
import numpy as np
import pandas as pd

arr = np.array([25, 10, 15, 20])
s = pd.Series(arr)

print(s)

0    25
1    10
2    15
3    20
dtype: int64

In [29]:
import pandas as pd

s = pd.Series([1, 5, 3, 9])
arr = s.to_numpy()

print(arr)

[1 5 3 9]

In [34]:
import pandas as pd

s = pd.Series([[1, 2], [3, 4], [5, 6]])
new_series = s.explode()

print(new_series)

0    1
0    2
1    3
1    4
2    5
2    6
dtype: object

In [35]:
import pandas as pd

data = {
    'Name': ['Ramesh', 'Raman', 'Sneha'],
    'Age': [20, 21, 22]
}

df = pd.DataFrame(data)
print(df)

     Name  Age
0  Ramesh   20
1   Raman   21
2   Sneha   22

In [36]:
print(df.head(6))

     Name  Age
0  Ramesh   20
1   Raman   21
2   Sneha   22

In [38]:
import pandas as pd
import numpy as np

exam_data = {
    'name': ['Anastasia', 'Dima', 'Kathe', 'James', 'Emily',
             'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
    'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
    'qualify': ['yes', 'no', 'yes', 'no', 'no',
                'yes', 'yes', 'no', 'no', 'no']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(exam_data, index=labels)

print(df[['name', 'score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c      Kathe   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [39]:
print(df[df['score'].isna()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [16]:
# Append new row
df.loc['k'] = ['Suresh', 15.5, 1, 'yes']
print("After appending new row:\n")
print(df)

# Delete the new row
df = df.drop('k')
print("\nAfter deleting new row:\n")
print(df)

After appending new row:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

After deleting new row:

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [1]:
import pandas as pd

df = pd.read_excel(r"C:\Users\KIIT0001\Downloads\student_marks_10.xlsx")

df["Total"] = df[["Maths", "Science", "English"]].sum(axis=1)
df["Average"] = df["Total"] / 4

df["Result"] = df["Average"].apply(lambda x: "Pass" if x >= 50 else "Fail")

print(df)

    Name  Maths  Science  English  Total  Average Result
0   Amit     78       85       70    233    58.25   Pass
1   Rina     45       40       50    135    33.75   Fail
2  Suman     60       55       65    180    45.00   Fail
3  Kiran     30       35       25     90    22.50   Fail
4  Rahul     88       90       85    263    65.75   Pass
5  Pooja     92       88       90    270    67.50   Pass
6   Aman     55       58       60    173    43.25   Fail
7  Sneha     67       70       72    209    52.25   Pass
8  Rohit     40       42       45    127    31.75   Fail
9   Neha     73       75       78    226    56.50   Pass

In [2]:
import os
os.getcwd()

'C:\\Users\\KIIT0001'

In [3]:
import pandas as pd

df = pd.read_excel(r"C:\Users\KIIT0001\Downloads\employee_salary_10.xlsx")

df["New_Salary"] = df.apply(
    lambda row: row["Salary"] * 1.10 if row["Experience"] >= 5 else row["Salary"] * 1.07,
    axis=1
)

print(df)

   EmpID    Name  Experience  Salary  New_Salary
0    101    Ravi           6   50000     55000.0
1    102   Anita           3   40000     42800.0
2    103  Suresh           8   60000     66000.0
3    104   Meena           2   35000     37450.0
4    105   Kunal           5   45000     49500.0
5    106   Priya           1   32000     34240.0
6    107    Ajay          10   70000     77000.0
7    108  Sunita           4   38000     40660.0
8    109   Manoj           7   58000     63800.0
9    110  Kavita           3   42000     44940.0

In [24]:
import pandas as pd

df = pd.read_excel(r"C:\Users\KIIT0001\Downloads\sales_data_10.xlsx")

result = df.groupby("Product")["Sales"].agg(
    Total_Sales="sum",
    Average_Sales="mean"
)

print(result)

         Total_Sales  Average_Sales
Product
Eraser           170      85.000000
Marker           380     190.000000
Pen              350     116.666667
Pencil           480     160.000000

In [4]:
import pandas as pd

df = pd.read_excel(r"C:\Users\KIIT0001\Downloads\missing_marks_10.xlsx")

mean_marks = df["Marks"].median()

df["Marks"] = df["Marks"].fillna(mean_marks)

print(df)

     Name  Marks
0   Rahul   85.0
1   Pooja   81.5
2    Aman   78.0
3   Sneha   81.5
4   Rohit   90.0
5    Neha   88.0
6   Vikas   81.5
7  Anjali   72.0
8   Karan   69.0
9    Isha   81.5

In [6]:
import pandas as pd

df = pd.read_excel(r"C:\Users\KIIT0001\Downloads\attendance_10.xlsx")

low_attendance = df[df["Attendance"] < 70]

print(low_attendance)
print("Total students with attendance < 70% :", len(low_attendance))

   Name  Attendance
1  Rina          68
6  Aman          60
Total students with attendance < 70% : 2